<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <br>
  <section>
      <div class="container mt-5">
          <div class="row mb-4">
              <div class="col-xs-12 col-sm-8 col-md-10">
                  <h2>Clients</h2>
              </div>           
          </div>
          <div class="row">
              <div class="col-12">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let client of clients">
                              <th scope="row">{{client.id}}</th>
                              <td>{{client.name}}</td>
                              <td>{{client.email}}</td>
                             
                            
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>