
<br>
<section>
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-xs-12 col-sm-8 col-md-10">
                <h2>Products</h2>
            </div>
            <div  *ngIf="isAdmin()" class=" col-xs-12 col-sm-4 col-md-2">
                <button type="button" class="btn btn-primary float-right ml-3 btn-block" data-toggle="modal" data-target="#modalProduct">+ Agregar</button>
            </div>

        </div>
     
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; ; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <div *ngIf="isAdmin()" >
                            <td>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalProduct" (click)="onPreUpdate(product)">Actualizar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="delete(product)">Eliminar</button>
                            </td>
                        </div>
                          

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<app-form [productActual]="productActual"></app-form>
